body {
    background-color: lightgray;
    user-select: none;
}
#title {
    text-align: center;
    justify-content: center;
    margin: auto;
    padding: 10px;
    letter-spacing: 15px;
    word-spacing: 15px;
    text-transform: uppercase;
}
#converter {
    background-color: lightblue;
    border: 1px solid darkgray;
    width: 50%;
    height: 400px;
    margin: auto;
    padding: 5px;
}
#conversion_area {
    position: relative;
    text-align: center;
}
.texts {
    width: 95%;
    height: 100px;
    position: relative;
    margin: auto;
    margin-top: 15px auto 15px auto;
    padding: 10px;
    border: 1px solid darkgray;
    font-size: 15px;
    font-family: "Times New Roman";
    user-select: text;
    background-color: white;
}
#text_input {

}
hr {
    margin: 10px;
}

.options_menu {
    text-align: center;
    //border: 1px solid darkgray;
    //margin: 5px;
}
.modifiers {
    margin: 5px;
}
#shift_selector {
    width: 35px;
}
.unselectable {
    background-color: transparent;
    color: transparent;
    user-select: none;
}
.unselectable:hover {
    
}
#clear_button {

}
#text_result {

}
footer {
    padding: 2px;
    text-align: center;
}