body {
    background-color: lightgray;
    user-select: none;
}
#title {
    text-align: center;
    justify-content: center;
    margin: auto;
    padding: 10px;
    letter-spacing: 15px;
    word-spacing: 15px;
    text-transform: uppercase;
}
#converter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightblue;
    border: 1px solid darkgray;
    width: 50%;
    //height: 450px;
    margin: auto;
    padding: 5px;
    min-width: 325px;
    min-height: 450px;
}
#conversion_area {
    position: relative;
    text-align: center;
}
.texts {
    position: relative;
    width: 90%;
    height: 100px;
    margin: auto;
    margin-top: 15px auto 15px auto;
    padding: 10px;
    border: 1px solid darkgray;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    user-select: text;
    background-color: white;
}
#text_input {

}
hr {
    margin: 10px 25px 10px 25px;
}

.options_menu {
    text-align: center;
    display: inline;
    //border: 1px solid darkgray;
    //margin: 5px;
}
.modifiers {
    margin: 5px;
}

#shift_selector {
    width: 35px;
    //margin-right: 2.5px;
}
.operations_selector {

}
.unselectable {
    background-color: transparent;
    color: transparent;
    user-select: none;
}
.unselectable:hover {
    color:gray;
}
#clear_button {

}
#text_result {
    word-wrap: break-word;
}
.bottom_buttons {
    margin: 6px;
    width:  90px
}
footer {
    padding: 5px;
    text-align: center;
}

@media print {
    /* body *:not(#text_result):not(#text_result *) {
        visibility: hidden;
    } */
    body {
        visibility: hidden;
    }
    #text_input {
        visibility: visible;
    }
    #text_result {
        visibility: visible;
        //position: absolute;
        //top: 0;
        //left: 0;
    }
}